<html>
<head></head>
<body>
	<div class="top-bar" style="background-image: url(/img/bgtexture.png)" th:fragment="menu">
	  <div class="top-bar-left" >
	    <ul class="dropdown menu" data-dropdown-menu style="background-image: url(/img/bgtexture.png)">
	      <li><img src="/img/bigbrain.png" /></li>
	      <li class="menu-text">FFTB Viewer</li>
	      <li><a style="color: black;" href="/"><span style=" text-decoration: underline;">Live Feed</span></a></li>
	      <li><a style="color: black;" href="/player"><span style=" text-decoration: underline;">Player Data</span></a></li>
	      <li><a style="color: black;" href="/playerLeaderboard"><span style=" text-decoration: underline;">Player Leaderboard</span></a></li>
	      <li><a style="color: black;" href="/botleaderboard"><span style=" text-decoration: underline;">Bot Leaderboard</span></a></li>
	      <li><a style="color: black;" href="/apidocs"><span style=" text-decoration: underline;">API</span></a></li>
	      <li><a style="color: black;" href="/music"><span style=" text-decoration: underline;">Playlist</span></a></li>
	      <li><a style="color: black;" href="/gilCount"><span style=" text-decoration: underline;">Global Gil Count</span></a></li>
	    </ul>
	  </div>
	  <div class="top-bar-right">
	  	<ul class="dropdown menu" data-dropdown-menu style="background-image: url(/img/bgtexture.png)">
	  		<li><a style="color: purple;" href="https://www.twitch.tv/fftbattleground"><span style=" text-decoration: underline;">Twitch Stream</span></a></li>
	    	<li><a style="color: black;" href="https://fftbg.com/"><span style=" text-decoration: underline;">FFBG</span></a></li>
	      	<li><a style="color: black;" href="https://www.mustad.io/"><span style=" text-decoration: underline;">Mustadio.io</span></a></li>
	      	<li><a style="color: black;" href="https://byblos.monster/"><span style=" text-decoration: underline;">Byblos.monster</span></a></li>
	    </ul>
	  </div>
	</div>
</body>
</html>