<html>
<head>
	<link rel="icon" href="/img/bigbrain.png">
	<style>
		.botName {
			 text-decoration: underline;
		}
	</style>
	<meta property="og:title" content="FFTB Viewer"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="FFTB Viewer is a data viewing application for the fftbattleground twitch stream at https://www.twitch.tv/fftbattleground"/>
	<meta property="og:image" content="https://fftbview.com/img/Pulse-1s-200px.gif"/>
	<meta property="og:url" content="https://fftbview.com"/>
	<meta property="og:site_name" content="FFTB Viewer"/>
	<meta property="og:image:width" content="200"/>
	<meta property="og:image:height" content="200"/>
</head> 
<body>
	<div th:replace="fragments/menu :: menu"></div>
	
	<div class="grid-y fluid">
		<div class="cell small-3">
			<br />
		</div>
		<div class="cell small-6">
			<div class="grid-x fluid">
				<div class="cell small-2"></div>
				<div class="cell small-8">
					<h3>Botland</h3>
					<p>Current state of my internal botland used to power <span id="accountName" th:text="${primaryBotAccountName}" /></p>
					<p><b>Current Primary Bot: </b><span id="primaryBotName" th:text="${primaryBotName}" /></p>
					<p><b>Gil History for the bot:</b></p>
					<div id="accountChartDiv" style="max-height:225px; max-width:400px;">
						<canvas id="accountChart" width="400" height="225"></canvas>
					</div>
					<br />
					<table class="hover">
						<thead>
							<tr>
								<th>Bot</th>
								<th>Balance</th>
								<th>HighScore</th>
								<th>Wins</th>
								<th>Losses</th>
								<th>Win %</th>
							</tr>	
						</thead>
						<tbody th:each="bot: ${botData}">
							<tr>
								<td th:id="${bot.player} + 'Name'" th:text ="${bot.player}" th:data-reveal-id="${bot.player} + 'Modal'" onclick="revealModal(this.getAttribute('data-reveal-id'));" class="botName" />
								<td th:id="${bot.player} + 'Balance'" th:text="${bot.balance}" />
								<td th:id="${bot.player} + 'HighScore'" th:text="${bot.highestKnownValue}" />
								<td th:id="${bot.player} + 'Wins'" th:text="${bot.wins}" />
								<td th:id="${bot.player} + 'Losses'" th:text="${bot.losses}" />
								<td th:id="${bot.player} + 'WinPercentage'" th:text="${bot.getWinPercentage()} + '%'" />
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Bot</th>
								<th>Balance</th>
								<th>HighScore</th>
								<th>Wins</th>
								<th>Losses</th>
								<th>Win %</th>
							</tr>	
						</tfoot>
					</table>
				</div>
				<div id="dataLocation"></div>
				<div class="cell small-2">
					<br />
				</div>
			</div>
		</div>
		<div class="cell small-3"></div>
	</div>
	<div th:each="bot: ${botData}" th:id="${bot.player} + 'Modal'" class="reveal-modal small" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog" style="background-color: white;">
		<h2 th:id="${bot.player}+'ModalTitle'" th:text="'Bot: ' + ${bot.player}" />
		<p th:id="${bot.player}+'ModalBotDescription'" th:text="${botConfigData.get(bot.player).description}"/>
		</br>
		<div th:if="not ${botConfigData.get(bot.player).params.isEmpty()}" th:id="${bot.player} + 'FieldDescriptions'">
			<p>Field Descriptions:</p>
			<div th:each="botParamMapEntry: ${botConfigData.get(bot.player).params}" >
				<span><b>Field Name: </b> <span id="${bot.player}+'ModalParams'+${botParamMapEntry.value.name}+'FieldName'" th:text="${botParamMapEntry.value.name}" /></span><br />
				<span><b>Field Value: </b> <span id="${bot.player}+'ModalParams'+${botParamMapEntry.value.name}+'FieldValue'" th:text="${botParamMapEntry.value.value}" /></span><br />
				<span><b>Field Description: </b> <span id="${bot.player}+'ModalParams'+${botParamMapEntry.value.name}+'FieldDescription'" th:text="${botParamMapEntry.value.description}" /></span><br />
				<br />
			</div>
		</div>
		<div th:id="${bot.player}+'BotHourlyDataEntries'" style="display: none;">
			<input type="hidden" th:each="botHourlyEntry: ${botHourlyDataMap.get(bot.player)}" th:id="${bot.player} +'HourlyDataEntry' + ${botHourlyEntry.id}" th:value="${botHourlyEntry.element.hourString}" th:balance="${botHourlyEntry.element.balance}" />
		</div>
		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		<div width="400px" height="225px" style="max-height:225px; max-width:400px;">
			<canvas th:id="${bot.player}+'Chart'" width="400px" height="225px" />
		</div>
		<br />
	</div>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/css/foundation.min.css" integrity="sha256-1mcRjtAxlSjp6XJBgrBeeCORfBp/ppyX4tsvpQVCcpA= sha384-b5S5X654rX3Wo6z5/hnQ4GBmKuIJKMPwrJXn52ypjztlnDK2w9+9hSMBz/asy9Gw sha512-M1VveR2JGzpgWHb0elGqPTltHK3xbvu3Brgjfg4cg5ZNtyyApxw/45yHYsZ/rCVbfoO5MSZxB241wWq642jLtA==" crossorigin="anonymous">
	<link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" />
	<script src="/webjars/jquery/1.8.3/jquery.min.js"></script>
	<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
	<script th:src="@{/webjars/foundation/6.4.3-1/dist/js/foundation.min.js}"></script>
	<script th:src="@{/webjars/chartjs/2.9.3/Chart.min.js}"></script>
	<script th:src="@{/webjars/github-com-nagix-chartjs-plugin-colorschemes/0.3.0/chartjs-plugin-colorschemes.min.js}"></script>
	<script th:src="@{/js/botland.js}"></script>
	<script>
		$(document).foundation();
		populateBotAccountChart();
		populateBotCharts();
		connect();
	</script>
</body>
</html>