<html>

<head>
	<style>
		.player {
			 text-decoration: underline;
		}
		
		.fightPlayerName {
			 text-decoration: underline;
		}
		
		.textLoading {
			height: 16px;
		}
		
		.imageLoading {
			height: 125px;
			width: 148px;
		}
		
		.leftPlayerImageLoading {
			height: 125px;
			width: 148px;
		}
		
		.rightPlayerImageLoading {
			height: 125px;
			width: 148px;
		}
		
		.leftPlayerNameLoading {
			height: 16px;
		}
		
		.rightPlayerNameLoading {
			height: 16px;
		}
		
		.mapPlayerLoadingImage {
			height: 16px;
		}
		
		.raidBoss {
			font-weight: bold;
		}
	</style>
	<meta property="og:title" content="FFTB Viewer"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="FFTB Viewer is a data viewing application for the fftbattleground twitch stream at https://www.twitch.tv/fftbattleground"/>
	<meta property="og:image" content="https://fftbview.com/img/Pulse-1s-200px.gif"/>
	<meta property="og:url" content="https://fftbview.com"/>
	<meta property="og:site_name" content="FFTB Viewer"/>
	<meta property="og:image:width" content="200"/>
	<meta property="og:image:height" content="200"/>
	<link rel="icon" href="/img/bigbrain.png">
	<script src="https://embed.twitch.tv/embed/v1.js"></script>
	<script>
		var twitchHeight = 378;
		var tippyMap = new Map();
		function createTwitchEmbed() {
			var twitchEmbed = new Twitch.Embed("twitch-embed", {
		        width: 620,
		        height: twitchHeight,
		        channel: "fftbattleground",
		        layout: "video",
		        theme: "dark",
		        // only needed if your site is also embedded on embed.example.com and othersite.example.com 
		        parent: ["fftbview.com"]
		      });
			
			return twitchEmbed;
		}
	
		var twitchEnabled = true;
		var twitchEmbed = null;
		
		function toggleTwitchStream() {
			if(twitchEnabled) {
				$('#twitch-embed').hide();
				$('#twitch-hide-text').hide();
				$('#twitch-show-text').show();
				twitchEmbed.getPlayer().pause();
				twitchEnabled = false;
			} else {
				//then show elements
				$('#twitch-embed').show();
				$('#twitch-hide-text').show();
				$('#twitch-show-text').hide();
				twitchEmbed.getPlayer().play();
				twitchEnabled=true;
			}
		}
		
	</script>
</head>
<body  style="background-color: white">
<div th:replace="fragments/menu :: menu"></div>
	<div class="grid-container fluid grid-frame">
		<div class="grid-y">
			<div class="cell small-1"><br /></div>
			<div class="cell small-2">
				<div class="grid-container">
					<div class="cell small-5"><br /></div>
					<div class="cell small-2">
						<input type="image" src="img/twitch.png" onclick="toggleTwitchStream();" style="height: 50px; width: auto; display: block; margin-left: auto; margin-right: auto;" />
						<div style=" text-align: center;">
							<span id="twitch-hide-text" style="display: block; margin-left: auto; margin-right: auto;">(hide stream)</span>
							<span id="twitch-show-text" style="display: block; margin-left: auto; margin-right: auto;">(show stream)</span>
						</div>
						<br />
						<div id="twitch-embed" style="display: block; margin-left: auto; margin-right: auto; text-align: center;"></div>
						<script>
							twitchEmbed = createTwitchEmbed();
						</script>
						<!-- <iframe src="https://player.twitch.tv/?channel=fftbattleground&parent=theotherbrancomputer.asuscomm.com&autoplay=false" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620" style="display: block; margin-left: auto; margin-right: auto;"></iframe> -->
					</div>
					<div class="cell small-5"><br /></div>
				</div>
			</div>
			<div class="cell small-3">
				<div class="grid-container" style="border-style: solid; word-wrap: break-word; color: black; border-radius: 25px; background-color: white">
					<div class="grid-y">
						<div class="cell small-2">
							<div class="grid-x">
								<div class="cell small-1"></div>
								<div class="cell small-2 text-left"><span class="fightData" id="team1Name"></span><img class="fightLoading textLoading teamNameLoading" src="img/Pulse-1s-200px.gif" /></div>
								<div class="cell small-1"></div>
								<div class="cell small-4 text-center">
									<span id="loadingNotice" class="notice" title="FFTBViewer uses data from IRC to track the current tournament's progress.  Once the stream's bot announces a new match, the application will know which two teams are fighting.">Please wait.  Viewer will sync with stream during the beginning of the next !bet or !fight phase.</span>
									<span id="matchNotice" class="notice" title="Current phase is Match">Match</span>
									<span id="fightNotice" class="notice" title="Current phase is !fight">Fight</span>
									<span id="bettingNotice" class="notice" title="Current phase is !bet">Betting</span>
									<span id="resultsNotice" class="notice" title="Current phase is results.  Next !bet or !fight phase is upcoming">Results</span>
								</div>
								<div class="cell small-1"></div>
								<div class="cell small-2 text-right"><span class="fightData" id="team2Name"></span><img class="fightLoading textLoading teamNameLoading" src="img/Pulse-1s-200px.gif" /></div>
								<div class="cell small-2"></div>
							</div>
						</div>
						<div class="cell small-2">
							<div class="grid-x" style="height: 125px">
								<div class="cell small-1"></div>
								<div class="cell small-1 text-left">
									<span id="fightLeftPlayer1Image" class="playerImage fightData"><img id="fightLeftPlayer1ImageTag" src="images/characters/Archer Female" tabindex="101"/></span>
									<img id="fightLeftPlayer1LoadingImage" class="fightLoading leftPlayerImageLoading" src="img/Spinner-1s-200px.gif" />
								</div>
								<div class="cell small-1 text-left">
									<span id="fightLeftPlayer2Image" class="playerImage fightData"><img id="fightLeftPlayer2ImageTag" src="images/characters/Archer Female" tabindex="102"/></span>
									<img id="fightLeftPlayer2LoadingImage" class="fightLoading leftPlayerImageLoading" src="img/Spinner-1s-200px.gif" />
								</div>
								<div class="cell small-1 text-left">
									<span id="fightLeftPlayer3Image" class="playerImage fightData"><img id="fightLeftPlayer3ImageTag" src="images/characters/Archer Female" tabindex="103"/></span>
									<img id="fightLeftPlayer3LoadingImage" class="fightLoading leftPlayerImageLoading" src="img/Spinner-1s-200px.gif" />
								</div>
								<div class="cell small-1 text-left">
									<span id="fightLeftPlayer4Image" class="playerImage fightData"><img id="fightLeftPlayer4ImageTag" src="images/characters/Archer Female" tabindex="104"/></span>
									<img id="fightLeftPlayer4LoadingImage" class="fightLoading leftPlayerImageLoading" src="img/Spinner-1s-200px.gif" />
								</div>
								<div class="cell small-2 text-center">
									<div class="grid-y">
										<span><img src="img/vs-swords.png" style="height: 35px; margin-top: 35px; margin-bottom: 35px" title="versus" /></span>
									</div>
								</div>
								<div class="cell small-1 text-left">
									<span id="fightRightPlayer1Image" class="playerImage fightData"><img id="fightRightPlayer1ImageTag" src="images/characters/Archer Female" tabindex="105"/></span>
									<img id="fightRightPlayer1LoadingImage" class="fightLoading rightPlayerImageLoading" src="img/Spinner-1s-200px.gif" />
								</div>
								<div class="cell small-1 text-left">
									<span id="fightRightPlayer2Image" class="playerImage fightData"><img id="fightRightPlayer2ImageTag" src="images/characters/Archer Female" tabindex="106"/></span>
									<img id="fightRightPlayer2LoadingImage" class="fightLoading rightPlayerImageLoading" src="img/Spinner-1s-200px.gif" />
								</div>
								<div class="cell small-1 text-left">
									<span id="fightRightPlayer3Image" class="playerImage fightData"><img id="fightRightPlayer3ImageTag" src="images/characters/Archer Female" tabindex="107"/></span>
									<img id="fightRightPlayer3LoadingImage" class="fightLoading rightPlayerImageLoading" src="img/Spinner-1s-200px.gif" />
								</div>
								<div class="cell small-1 text-left">
									<span id="fightRightPlayer4Image" class="playerImage fightData"><img id="fightRightPlayer4ImageTag" src="images/characters/Archer Female" tabindex="108"/></span>
									<img id="fightRightPlayer4LoadingImage" class="fightLoading rightPlayerImageLoading" src="img/Spinner-1s-200px.gif" />
								</div>
								<div class="cell small-1"></div>
							</div>
						</div>
						<div class="cell small-2">
							<div class="grid-y">
								<div class="cell small-2"></div>
								<div class="cell small-2">
									<div class="grid-x">
										<div class="cell small-1"></div>
										<div class="cell small-4 text-left">
											<span id="fightLeftPlayer1" class="fightData">
												<a id="fightLeftPlayer1Link" href="" target="_blank" style="color: inherit;"><span id="fightLeftPlayer1Name" tabindex="109" class="fightPlayerName">left player 1</span></a> the <span id="fightLeftPlayer1Class" data-tippy-content="" tabindex="110"></span><span id="fightLeftPlayer1RaidBossIndicator" title="Raid Boss" class="raidBoss">[!]</span>
											</span>
											<img class="fightLoading leftPlayerNameLoading" src="img/Pulse-1s-200px.gif" />
										</div>
										<div class="cell small-2"></div>
										<div class="cell small-4 text-right">
											<span id="fightRightPlayer1" class="fightData">
												<a id="fightRightPlayer1Link" href="" target="_blank" style="color: inherit;"><span id="fightRightPlayer1Name" tabindex="111" class="fightPlayerName">right player 1</span></a> the <span id="fightRightPlayer1Class" data-tippy-content="" tabindex="112"></span><span id="fightRightPlayer1RaidBossIndicator" title="Raid Boss" class="raidBoss">[!]</span>
											</span>
											<img class="fightLoading rightPlayerNameLoading" src="img/Pulse-1s-200px.gif" />
										</div>
										<div class="cell small-1"></div>
									</div>
								</div>
								<div class="cell small-2">
									<div class="grid-x">
										<div class="cell small-1"></div>
										<div class="cell small-4 text-left">
											<span id="fightLeftPlayer2" class="fightData">
												<a id="fightLeftPlayer2Link" href="" target="_blank" style="color: inherit;"><span id="fightLeftPlayer2Name" tabindex="113" class="fightPlayerName">left player 2</span></a> the <span id="fightLeftPlayer2Class" data-tippy-content="" tabindex="114"></span><span id="fightLeftPlayer2RaidBossIndicator" title="Raid Boss" class="raidBoss">[!]</span>
											</span>
											<img class="fightLoading leftPlayerNameLoading" src="img/Pulse-1s-200px.gif" />
										</div>
										<div class="cell small-2"></div>
										<div class="cell small-4 text-right">
											<span id="fightRightPlayer2" class="fightData">
												<a id="fightRightPlayer2Link" href="" target="_blank" style="color: inherit;"><span id="fightRightPlayer2Name" tabindex="115" class="fightPlayerName">right player 2</span></a> the <span id="fightRightPlayer2Class" data-tippy-content="" tabindex="116"></span><span id="fightRightPlayer2RaidBossIndicator" title="Raid Boss" class="raidBoss">[!]</span>
											</span>
											<img class="fightLoading rightPlayerNameLoading" src="img/Pulse-1s-200px.gif" />
										</div>
										<div class="cell small-1"></div>
									</div>
								</div>
								<div class="cell small-2">
									<div class="grid-x">
										<div class="cell small-1"></div>
										<div class="cell small-4 text-left">
											<span id="fightLeftPlayer3" class="fightData">
												<a id="fightLeftPlayer3Link" href="" target="_blank" style="color: inherit;"><span id="fightLeftPlayer3Name" tabindex="117" class="fightPlayerName">left player 3</span></a> the <span id="fightLeftPlayer3Class" data-tippy-content="" tabindex="118"></span><span id="fightLeftPlayer3RaidBossIndicator" title="Raid Boss" class="raidBoss">[!]</span>
											</span>
											<img class="fightLoading leftPlayerNameLoading" src="img/Pulse-1s-200px.gif" />
										</div>
										<div class="cell small-2"></div>
										<div class="cell small-4 text-right">
											<span id="fightRightPlayer3" class="fightData">
												<a id="fightRightPlayer3Link" href="" target="_blank" style="color: inherit;"><span id="fightRightPlayer3Name" tabindex="119" class="fightPlayerName">right player 3</span></a> the <span id="fightRightPlayer3Class" data-tippy-content="" tabindex="120"></span><span id="fightRightPlayer3RaidBossIndicator" title="Raid Boss" class="raidBoss">[!]</span>
											</span>
											<img class="fightLoading rightPlayerNameLoading" src="img/Pulse-1s-200px.gif" />
										</div>
										<div class="cell small-1"></div>
									</div>
								</div>
								<div class="cell small-2">
									<div class="grid-x">
										<div class="cell small-1"></div>
										<div class="cell small-4 text-left">
											<span id="fightLeftPlayer4" class="fightData">
												<a id="fightLeftPlayer4Link" href="" target="_blank" style="color: inherit;"><span id="fightLeftPlayer4Name" tabindex="121" class="fightPlayerName">left player 4</span></a> the <span id="fightLeftPlayer4Class" data-tippy-content="" tabindex="122"></span><span id="fightLeftPlayer4RaidBossIndicator" title="Raid Boss" class="raidBoss">[!]</span>
											</span>
											<img class="fightLoading leftPlayerNameLoading" src="img/Pulse-1s-200px.gif" />
										</div>
										<div class="cell small-2"></div>
										<div class="cell small-4 text-right">
											<span id="fightRightPlayer4" class="fightData">
												<a id="fightRightPlayer4Link" href="" target="_blank" style="color: inherit;"><span id="fightRightPlayer4Name" tabindex="123" class="fightPlayerName">right player 4</span></a> the <span id="fightRightPlayer4Class" data-tippy-content="" tabindex="124"></span><span id="fightRightPlayer4RaidBossIndicator" title="Raid Boss" class="raidBoss">[!]</span>
											</span>
											<img class="fightLoading rightPlayerNameLoading" src="img/Pulse-1s-200px.gif" />
										</div>
										<div class="cell small-1"></div>
									</div>
								</div>
								<div class="cell small-2"></div>
							</div>
						</div>
						<div class="cell small-2">
							<div class="grid-y">
								<div class="cell small-4">
									<div class="grid-x">
										<div class="cell small-3"></div>
										<div class="cell small-6 text-center">
											<span> The current track is: </span><span id="trackName"></span><img id="trackImage" class="mapPlayerLoadingImage" src="img/Pulse-1s-200px.gif" />
											<br />
											<span class="skilldropIntro">The current skilldrop is: </span><span id="skilldropName" tabindex="125"></span><img id="skillImage" class="mapPlayerLoadingImage" src="img/Pulse-1s-200px.gif" />
										</div>
										<div class="cell small-3"></div>
									</div>
								</div>
								<div class="cell small-4">
									<div class="grid-x">
										<div class="cell small-4"></div>
										<div class="cell small-4 text-center">Map <span id="mapNumber" class="fightData"></span><img class="fightLoading mapPlayerLoadingImage mapLoading" src="img/Pulse-1s-200px.gif" /> - <span id="mapName"  class="fightData"></span><img class="fightLoading mapPlayerLoadingImage mapLoading" src="img/Pulse-1s-200px.gif" /></div>
										<div class="cell small-4"></div>
									</div>
								</div>
								<div class="cell small-4">
									<div class="grid-x">
										<div class="cell small-1"></div>
										<div class="cell small-1 text-left">
											<span class="fightData" id="team1BetCount" title="Left Team bet count">0</span><span class="fightData" id="team1BetCountIndicator"> bets</span>
											<br />
											<span class="fightData" id="team1Amount" title="Left Team total gil" data-gil=0>0</span><span class="fightData" id="team1AmountIndicator">G</span>
											<img class="fightLoading textLoading teamNameLoading" src="img/Pulse-1s-200px.gif" />
											<img href="/img/gil_icon.png" height="16px" />
											<br />
											<span class="fightData" id="team1Percentage" title="Left Team Percentage of bets">0</span><span class="fightData" id="team1PercentageSign" title="Left Team Percentage of bets">%</span>
											<br />
											<span class="fightData" id="team1OddsIndicator">x</span><span class="fightData" id="team1Odds" title="Left Team betting odds">0</span>
										</div>
										<div class="cell small-2"></div>
										<div class="cell small-4 text-center">
											<span class="fightData" id="mapIconSpan"><a id="mapIconLink" href="" target="_blank"><img id="mapIcon" src="img/gil_icon.png" style="height: 125px" /></a></span>
											<img id="mapPlayerLoadingImage" class="fightLoading imageLoading mapLoading" src="img/Spinner-1s-200px.gif" />
										</div>
										<div class="cell small-2"></div>
										<div class="cell small-1 text-right">
											<span class="fightData" id="team2BetCount" title="Right Team bet count">0</span><span class="fightData" id="team2BetCountIndicator"> bets</span>
											<br />
											<span class="fightData" id="team2Amount" title="Right Team total gil" data-gil=0>0</span><span class="fightData" id="team2AmountIndicator">G</span>
											<img class="fightLoading textLoading teamNameLoading" src="img/Pulse-1s-200px.gif" />
											<img href="/img/gil_icon.png" height="16px" />
											<br />
											<span class="fightData" id="team2Percentage" title="Right Team Percentage of bets">0</span><span class="fightData" id="team2PercentageSign" title="Right Team Percentage of bets">%</span>
											<br />
											<span class="fightData" id="team2OddsIndicator">x</span><span class="fightData" id="team2Odds" title="Right Team betting odds">0</span>
											
										</div>
										<div class="cell small-1"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="cell small-2">
							<div class="grid-x">
							
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cell small-1"><br /></div>
			<div class="cell small-3">
				<div class="grid-container">
					<div class="grid-x">
						<div id="team1grid" class="cell small-5" style="border-style: solid; word-wrap: break-word; color: blue; border-radius: 25px; background-color: white;">
						<ul id="team1" style="list-style-type: none;">
						
						</ul>
						</div>
						<div class="cell small-2"></div>
						<div id="team2grid" class="cell small-5" style="border-style: solid; word-wrap: break-word; color: green; border-radius: 25px; background-color: white;">
							<ul id="team2" style="list-style-type: none;">
							
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="cell small-1"></div>
		</div>
	</div>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/css/foundation.min.css" integrity="sha256-1mcRjtAxlSjp6XJBgrBeeCORfBp/ppyX4tsvpQVCcpA= sha384-b5S5X654rX3Wo6z5/hnQ4GBmKuIJKMPwrJXn52ypjztlnDK2w9+9hSMBz/asy9Gw sha512-M1VveR2JGzpgWHb0elGqPTltHK3xbvu3Brgjfg4cg5ZNtyyApxw/45yHYsZ/rCVbfoO5MSZxB241wWq642jLtA==" crossorigin="anonymous">

	<script th:src="@{webjars/jquery/1.8.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script th:src="@{webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
    <script th:src="@{/webjars/foundation/6.4.3-1/dist/js/foundation.min.js}"></script>
    <script>
    $(document).foundation();
    $('#twitch-hide-text').show();
	$('#twitch-show-text').hide();
    </script>
    <script th:src="@{/js/app.js}"></script>
    <script>
    </script>
</body>
</html>