<html>
<head>
	<link rel="icon" href="/img/bigbrain.png">
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="grid-x fluid">
		<div class="cell small-4"></div>
		<div class="cell small-4">
			<table class="hover">
				<thead>
					<tr>
						<th>Song Name</th>
						<th>Duration</th>
					</tr>	
				</thead>
				<tbody th:each="music: ${playlist}">
					<tr>
						<td th:id="${music.songName} + 'NameCell'">
							<a th:id="${music.songName} + 'Link'" th:href="'https://www.youtube.com/results?search_query=' + ${music.songName}" target="_blank" style="color: inherit;" >
								<span style="text-decoration: underline;" th:id="${music.songName} + 'Name'" th:text="${music.songName}" />
							</a>
						</td>
						<td th:id="${music.songName} + 'LastActive'" th:text="${music.minutes} + ':' + ${music.seconds}" />
					</tr>
				</tbody>
			</table>
		</div>
		<div class="cell small-4">
			<br />
		</div>
	</div>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/css/foundation.min.css" integrity="sha256-1mcRjtAxlSjp6XJBgrBeeCORfBp/ppyX4tsvpQVCcpA= sha384-b5S5X654rX3Wo6z5/hnQ4GBmKuIJKMPwrJXn52ypjztlnDK2w9+9hSMBz/asy9Gw sha512-M1VveR2JGzpgWHb0elGqPTltHK3xbvu3Brgjfg4cg5ZNtyyApxw/45yHYsZ/rCVbfoO5MSZxB241wWq642jLtA==" crossorigin="anonymous">
	<link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" />
	<script src="/webjars/jquery/1.8.3/jquery.min.js"></script>
	<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/foundation/6.2.3/dist/foundation.min.js"></script>
	<script>$(document).foundation();</script>
</body>