<html>
<head>
	<link rel="icon" href="/img/bigbrain.png">
	<meta property="og:title" content="FFTB Viewer"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="FFTB Viewer is a data viewing application for the fftbattleground twitch stream at https://www.twitch.tv/fftbattleground"/>
	<meta property="og:image" content="https://fftbview.com/img/Pulse-1s-200px.gif"/>
	<meta property="og:url" content="https://fftbview.com"/>
	<meta property="og:site_name" content="FFTB Viewer"/>
	<meta property="og:image:width" content="200"/>
	<meta property="og:image:height" content="200"/>
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="grid-y fluid">
		<div class="cell small-1">
			<br />
		</div>
		<div class="cell small-3">
			<div class="grid-x fluid">
				<div class="cell small-3"></div>
				<div class="cell small-6">
				<h3>Top 10 Players</h3>
					<table class="hover">
						<thead>
							<tr>
								<th>Rank</th>
								<th>Name</th>
								<th>Balance</th>
								<th>Percentage of Global Gil</th>
								<th>Allegiance</th>
								<th>Last Active</th>
							</tr>	
						</thead>
						<tbody th:each="player: ${leaderboard.highestPlayers}">
							<tr>
								<td th:id="${player.name} + 'Rank'" th:text="${player.rank}" />
								<td th:id="${player.name} + 'NameCell'">
									<a th:id="${player.name} + 'Link'" th:href="'/player/' + ${player.name}" target="_blank" style="color: inherit;" >
										<span style="text-decoration: underline;" th:id="${player.name} + 'Name'" th:text="${player.name}" />
									</a>
								</td>
								<td th:id="${player.name} + 'Amount'" th:text="${player.gil}" />
								<td th:id="${player.name} + 'PercentageOfGlobalGil'" th:text="${player.percentageOfGlobalGil} + '%'" />
								<td th:id="${player.name} + 'Allegiance'" th:text="${player.allegiance}" class="allegianceEntry" />
								<td th:id="${player.name} + 'LastActive'" th:text="${player.lastActiveDate}" />
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Rank</th>
								<th>Name</th>
								<th>Balance</th>
								<th>Percentage of Global Gil</th>
								<th>Allegiance</th>
								<th>Last Active</th>
							</tr>	
						</tfoot>
					</table>
				</div>
				<div class="cell small-3">
					<br />
				</div>
			</div>
		</div>
		<div class="cell small-4">
			<div class="grid-x">
				<div class="cell small-3"></div>
				<div class="cell small-6">
					<input type="hidden" id="playerNames" th:value="${topPlayersCommaSplit}" />
					<canvas id="line-chart" width="400" height="225"></canvas>
					<br />
				</div>
				<div class="cell small-3">
				</div>
			</div>
		</div>
		<div class="cell small-3">
			<div class="grid-x fluid">
				<div class="cell small-3"></div>
				<div class="cell small-6">
					<h3>Top 100 Players</h3>
					<table class="hover">
						<thead>
							<tr>
								<th>Rank</th>
								<th>Name</th>
								<th>Balance</th>
								<th>Percentage of Global Gil</th>
								<th>Allegiance</th>
								<th>Last Active</th>
							</tr>	
						</thead>
						<tbody th:each="player: ${leaderboard.topPlayers}">
							<tr>
								<td th:id="${player.name} + 'Rank'" th:text="${player.rank}" />
								<td th:id="${player.name} + 'NameCell'">
									<a th:id="${player.name} + 'Link'" th:href="'/player/' + ${player.name}" target="_blank" style="color: inherit;" >
										<span style="text-decoration: underline;" th:id="${player.name} + 'Name'" th:text="${player.name}" />
									</a>
								</td>
								<td th:id="${player.name} + 'Amount'" th:text="${player.gil}" />
								<td th:id="${player.name} + 'PercentageOfGlobalGil'" th:text="${player.percentageOfGlobalGil} + '%'" />
								<td th:id="${player.name} + 'Allegiance'" th:text="${player.allegiance}" class="allegianceEntry" />
								<td th:id="${player.name} + 'LastActive'" th:text="${player.lastActiveDate}" />
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Rank</th>
								<th>Name</th>
								<th>Balance</th>
								<th>Percentage of Global Gil</th>
								<th>Allegiance</th>
								<th>Last Active</th>
							</tr>	
						</tfoot>
					</table>
				</div>
				<div class="cell small-3">
					<br />
				</div>
			</div>
		</div>
		<div class="cell small-1">
			<div class="grid-x fluid">
				<div class="cell small-3"></div>
				<div class="cell small-6">
					<span>This leaderboard was generated: </span><span th:text="${leaderboard.formattedGenerationDate()}" />
				</div>
				<div class="cell small-3"></div>
			</div>
		</div>
	</div>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/css/foundation.min.css" integrity="sha256-1mcRjtAxlSjp6XJBgrBeeCORfBp/ppyX4tsvpQVCcpA= sha384-b5S5X654rX3Wo6z5/hnQ4GBmKuIJKMPwrJXn52ypjztlnDK2w9+9hSMBz/asy9Gw sha512-M1VveR2JGzpgWHb0elGqPTltHK3xbvu3Brgjfg4cg5ZNtyyApxw/45yHYsZ/rCVbfoO5MSZxB241wWq642jLtA==" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/chartjs/2.9.3/Chart.min.css}" />
	<script th:src="@{/webjars/jquery/1.8.3/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
	<script th:src="@{/webjars/foundation/6.4.3-1/dist/js/foundation.min.js}"></script>
	<script th:src="@{/webjars/chartjs/2.9.3/Chart.min.js}"></script>
	<script th:src="@{/webjars/github-com-nagix-chartjs-plugin-colorschemes/0.3.0/chartjs-plugin-colorschemes.min.js}"></script>
	<script th:src="@{/js/playerLeaderboard.js}"></script>
	<script>
		$(document).foundation();
		$(".allegianceEntry").each(function() {
    		setColor(this.id);
    	});
	</script>
</body>